<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="form.controls['firstName'].hasError('required')">You must provide a first name!</mat-error>
          <mat-error *ngIf="form.controls['firstName'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city">
        <mat-error *ngIf="form.controls['city'].hasError('required')">You must provide a city!</mat-error>
        <mat-error *ngIf="form.controls['city'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip" formControlName="zip">
        <mat-error *ngIf="form.controls['zip'].hasError('required')">You must provide a zip!</mat-error>
        <mat-error *ngIf="form.controls['zip'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Sex" formControlName="sexType">
        <mat-error *ngIf="form.controls['city'].hasError('required')">You must provide a sex!</mat-error>
        <mat-error *ngIf="form.controls['sexType'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf="form.controls['lastName'].hasError('required')">You must provide a last name!</mat-error>
        <mat-error *ngIf="form.controls['lastName'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State" formControlName="state">
        <mat-error *ngIf="form.controls['state'].hasError('required')">You must provide a state!</mat-error>
        <mat-error *ngIf="form.controls['state'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber">
        <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">You must provide a phone number!</mat-error>
        <mat-error *ngIf="form.controls['phoneNumber'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age" formControlName="age" type="number">
        <mat-error *ngIf="form.controls['age'].hasError('required')">You must provide an age!</mat-error>
        <mat-error *ngIf="form.controls['age'].hasError('maxlength')">You've exceeded the maximum length!</mat-error>
      </mat-form-field>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="mat-raised-button" [disabled]="!isFormValid(form)" [ngClass]="{'mat-primary': isFormValid(form)}" [style.marginRight]="'10px'" (click)="primaryButtonHandler()">
    {{mainButtonText}}
  </button>

  <button class="mat-raised-button" (click)="close()">
    Cancel
  </button>
</mat-dialog-actions>
