<div [style.display]="'flex'"
     [style.alignItems]="'center'"
>
  <span [style.paddingLeft]="'5px'">
    <strong>Customers</strong>
  </span>
  <div class="flex-spacer"></div>
  <app-customer-input-search>
  </app-customer-input-search>

  <button
    mat-icon-button color="primary"
    aria-label="Add a new customer"
    (click)="addCustomer()"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</div>
