<div class="custom-wrapper-example">
  <mat-form-field
    [style.width]="width"
    [style.min-width]="minWidth"
    [style.max-width]="maxWidth">
    <!--      <mat-icon *ngIf="!documentInputHTML.value" matPrefix>-->
    <!--        search-->
    <!--      </mat-icon>-->

    <input #documentInputHTML
           matInput
           placeholder="Search..."
           type="text"
           (keyup)="handleInputChange()"
    >
    <button *ngIf="documentInputHTML.value"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="reset();">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>
</div>


