<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
    <div class="example-full-width">
      <span>{{messageText}}</span>
    </div>
</mat-dialog-content>
<br>

<mat-dialog-actions align="end">
    <button class="mat-raised-button mat-primary" (click)="primaryButtonHandler()" [style.marginRight]="'10px'">
        {{mainButtonText}}
    </button>
    <button class="mat-raised-button" (click)="close()">
        Cancel
    </button>
</mat-dialog-actions>
