<div class="mat-elevation-z8">
  <mat-table
    matSort
    [dataSource]="customerDataSource"
  >
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.state}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="zip">
      <mat-header-cell *matHeaderCellDef>Zip</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.zip}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.phoneNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef>Sex</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.sexType}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let customer">{{customer.age}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let customer">
        <button mat-icon-button color="primary"><mat-icon (click)="editCustomer(customer)">edit</mat-icon></button>
        <button mat-icon-button color="primary" (click)="confirmCustomerDeletion(customer)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="customerDataSource?.totalElements" [pageSize]="customerDataSource?.size"></mat-paginator>

  <mat-card *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </mat-card>
</div>
