/* You can add global styles to this file, and also import other style files */
@import '~material-icons-font/sass/variables';
@import '~material-icons-font/sass/mixins';
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import '~material-icons-font/sass/main';
@import '~material-icons-font/sass/Regular';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~material-design-icons/iconfont/material-icons.css';
@import "./app/app.component";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
